:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(98, 115, 224);
  --gap: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: url(./images/bg-01.svg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px dashed rgba(0, 0, 0, 0.201);
  margin: 20px;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

#input {
  width: 200px;
}

.input-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 5px;
}

/* .square {
  background-color: antiquewhite;
} */
